@font-face {
    font-family: 'product_sansregular';
    src: url('fonts/eot/productsans-regular-webfont.eot');
    src: url('fonts/eot/productsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-regular-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'google_sans_monoregular';
    src: url('fonts/eot/google-sans-mono-regular-webfont.eot');
    src: url('fonts/eot/google-sans-mono-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/google-sans-mono-regular-webfont.woff2') format('woff2'),
        url('fonts/woff/google-sans-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_thinregular';
    src: url('fonts/eot/productsans-thin-webfont.eot');
    src: url('fonts/eot/productsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-thin-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_lightregular';
    src: url('fonts/eot/productsans-light-webfont.eot');
    src: url('fonts/eot/productsans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-light-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_mediumregular';
    src: url('fonts/eot/productsans-medium-webfont.eot');
    src: url('fonts/eot/productsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-medium-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





body {
    background-color: #111C11;
    color: #FFFFD1;
    text-align: center;
    font-family: 'product_sansregular';
}

#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    background-color: #1C2F1C;
    border-radius: 75px;
}

#title {
    font-family: 'product_sans_mediumregular';
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
    font-size: 3.2em;
    border-bottom: 2px #FFFFD1 solid;
}

#optionsAndSliders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#optionsContainer {
    margin-left: 5%;
    width: 40%;
}

#optionsContainer > .sliderDiv {
    font-family: 'product_sans_thinregular';
    color: white;
}

#slidersContainer {
    margin-top: 50px;
}

#slidersContainer > label {
    margin-bottom: 20px;
}

.optionsCategoryLabel {
    margin: 0;
    margin-bottom: 10%;
    text-align: left;
    font-size: 1.5em;
}

#lengthSliderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: left;
}

#lengthCategoryLabel {
    width: 100%;
}

#lengthSliderValue {
    margin: 0;
    margin-left: 2%;
    margin-top: -40px;
}

#lengthSlider {
    margin-top: -54px;
    margin-left: 5%;
}

#generateBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 8px;
    font-family: 'product_sansregular';
    font-size: 1.5em;
    font-weight: 300;
    background-color: #111C11;
    color: #FFFFD1;
    border: 3px #FFFFD1 solid;
    border-radius: 15px;
    transition: background-color 0.2s;
}

#generateBtn:hover {
    background-color: #355e35;
}

#generateBtn:active {
    background-color: #060a06;
}

#resultIndicatorLabel {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0%;
}

#resultLabel {
    text-align: center;
    font-family: "google_sans_monoregular";
    font-size: 1.5em;
    color: white;
}

#slidersContainer {
    width: 10%;
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 45px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .2s;
    width: 16px;
}
