@font-face {
    font-family: 'product_sansregular';
    src: url('fonts/eot/productsans-regular-webfont.eot');
    src: url('fonts/eot/productsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-regular-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'google_sans_monoregular';
    src: url('fonts/eot/google-sans-mono-regular-webfont.eot');
    src: url('fonts/eot/google-sans-mono-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/google-sans-mono-regular-webfont.woff2') format('woff2'),
        url('fonts/woff/google-sans-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_thinregular';
    src: url('fonts/eot/productsans-thin-webfont.eot');
    src: url('fonts/eot/productsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-thin-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_lightregular';
    src: url('fonts/eot/productsans-light-webfont.eot');
    src: url('fonts/eot/productsans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-light-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sans_mediumregular';
    src: url('fonts/eot/productsans-medium-webfont.eot');
    src: url('fonts/eot/productsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/woff2/productsans-medium-webfont.woff2') format('woff2'),
        url('fonts/woff/productsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





body {
    background-color: #111C11;
    color: #FFFFD1;
    text-align: center;
    font-family: 'product_sansregular';
}

#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    background-color: #1C2F1C;
    border-radius: 75px;
}

#title {
    font-family: 'product_sans_mediumregular';
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
    font-size: 3.2em;
    border-bottom: 2px #FFFFD1 solid;
}

#optionsAndSliders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
